.rodape {
    font-weight: 400;
    background-color: #F9F9F9;
    border-top: 1px solid #858585;
    padding: 1em;    
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        padding-top: 3em;
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape{
        display: block;
    }

    .lista__titulo{
        font-size: 14px;
        color: var(--cinza-claro);
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 1em 0;
    }

    .lista-rodape__img{
        margin-right: 0.5em;
    }

    .lista-rodape__link{
        text-decoration: none;
        color: var(--cinza-escuro);
    }

    .rodape__titulo{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3em;
    }

    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    
}